[submodule "llm/llamacpp"]
	path = llm/llamacpp
	url = https://github.com/er6y/llama.cpp.git
[submodule "models/qwen3_06b"]
	path = models/qwen3_06b
	url = https://gh-proxy.com/https://huggingface.co/Qwen/Qwen3-0.6B
